body {
    background-color: #ddd;
}
#bingo {
    background-color: #03e;
    border-radius: 10px;
    margin: 100px 10% 0;
    padding: 0 20px 20px;
}
#bingo table {
    width: 100%;
    border-collapse: collapse;
}
#bingo table th {
    font-size: 50px;
    width: 20%;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #fff;
}
#bingo table td {
    background-color: #fff;
    height: 100px;
    border: 2px solid #ccc;
    color: #333;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    hyphens: auto;
    padding: 5px;
}
#bingo table td.selected, #bingo table td.selected:hover {
    background-color: #f00;
    color: #000;
}
#bingo table td:hover {
    background-color: #fdd;
}
#bingo table tr:nth-child(2) td {
    border-top: none;
}
#bingo table tr td:first-child {
    border-left: none;
}
#bingo table tr td:last-child {
    border-right: none;
}
#bingo table tr:last-child td {
    border-bottom: none;
}
#bingo table tr:nth-child(2) td:first-child {
    border-top-left-radius: 10px;
}
#bingo table tr:nth-child(2) td:last-child {
    border-top-right-radius: 10px;
}
#bingo table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
#bingo table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#menu {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}
#menu ul {
    display: inline-block;
    padding: 0;
}
#menu ul li {
    display: inline;
    list-style-type: none;
}
#menu a {
    background-position: center 5px;
    background-size: 45px 45px;
    display: inline-block;
    padding: 55px 5px 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
}
#menu a:hover {
    background-color: #14f;
}
#menu-new {
    background: url('images/refresh.svg') no-repeat;
}
#menu-print {
    background: url('images/print.svg') no-repeat;
}

@media (max-width: 1000px) {
    body {
        margin: 0;
        background-color: #03e;
    }
    #bingo {
        margin: 0;
        padding: 10px;
        border-radius: 0;
        height: 100%;
    }
    #bingo table {
        width: 100%;
        height: 100%;
    }
    #bingo table th {
        font-size: 96px;
    }
    #bingo table td {
        height: 200px;
        font-size: 30px;
    }
}

@media (max-height: 1000px) {
    #bingo table td {
        height: 100px;
    }
}

@media print {
    #bingo {
        background-color: transparent;
    }
    #bingo table {
        border: 1mm solid #000;
    }
    #bingo table th {
        border-bottom: 1mm solid #000;
        color: #000;
    }
    #bingo table td {
        width: 1.2in;
        height: 1.4in;
        border: 1mm solid #000;
    }
    #bingo table td, #bingo table td.selected {
        color: #000;
        background-color: transparent;
    }
    #menu {
        display: none;
    }
}